.cv11 {
  font-variation-settings: "cv11" 1;
}

.pin2 {
  position: absolute;

  border-radius: 50%;
  border: 6px solid orangered;
  width: 22px;
  height: 22px;
  left: -5px;
  bottom: 20px;
}

.pin2::after {
  position: absolute;
  content: "";
  width: 0px;
  height: 0px;
  bottom: -30px;
  left: -5px;
  border: 10px solid transparent;
  border-top: 20px solid orangered;
}

.leva-container {
  padding: 20px;
}

.leva-container > div {
  max-height: 350px;
  overflow: auto;
}
.leva-container > div::-webkit-scrollbar {
  width: 0.7em;
  padding: 3px;
}
.leva-container > div::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.05);
  background-color: #f4f6f8;
}
.leva-container > div::-webkit-scrollbar-thumb {
  background-color: #dce1e9;
  border-radius: 2px;
}
.dark .leva-container > div::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #181b20;
}
.dark .leva-container > div::-webkit-scrollbar-thumb {
  background-color: #364151;
}
.animation-fill {
  animation-fill-mode: both;
}
.navb,
.content-container {
  margin-left: calc(100vw - 100%);
  margin-right: 0;
}

.tooltip-custom {
  background-color: #030712;
  color: #f3f4f6;
}
.dark .tooltip-custom {
  background-color: #374151;
  color: #f3f4f6;
}

.bg-box-pattern2 {
  background-color: #e5e5f7;
  opacity: 0.1;
  background-image: linear-gradient(
      #aaa 0.7000000000000001px,
      transparent 0.7000000000000001px
    ),
    linear-gradient(
      to right,
      #aaa 0.7000000000000001px,
      #e5e5f7 0.7000000000000001px
    );
  background-size: 14px 14px;
}
.bg-box-pattern {
  background-color: #fff;
  opacity: 0.1;
  background-image: linear-gradient(
      #9ca3af 0.7000000000000001px,
      transparent 0.7000000000000001px
    ),
    linear-gradient(
      to right,
      #9ca3af 0.7000000000000001px,
      #fff 0.7000000000000001px
    );
  background-size: 14px 14px;
}
.bg-box-pattern4 {
  background-color: #fff;
  opacity: 0.1;
  background-image: linear-gradient(
      #1f2937 0.7000000000000001px,
      transparent 0.7000000000000001px
    ),
    linear-gradient(
      to right,
      #1f2937 0.7000000000000001px,
      #fff 0.7000000000000001px
    );
  background-size: 14px 14px;
}

.techno-title {
  position: relative;
  z-index: 2;
  background: transparent;
  margin-bottom: 50px;
}

.techno-title::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
  height: 50px;
  border: 1px solid orangered;
  /* border: 1px solid rgba(0, 0, 0, 0.504); */
  /* box-shadow: 0px 0px 5px rgba(255, 103, 2, 1); */
  /* border-width: 0 0 0 1px; */
  z-index: 100;
}

.custom-arr-path {
  stroke-dasharray: 10;
  stroke-dashoffset: 10;
  transform: translateX(-4px);
  transition: stroke-dashoffset 0.15s ease 0s, transform 0.15s ease 0s;
}

.card-button:hover .custom-arr-path {
  stroke-dashoffset: 0;
  transform: translateX(0px);
}
